*{
    /* background-color: rgb(187, 227, 243); */
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(216, 242, 252);
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 20px;
}
.header img{
    width: 200px;
    background-color: rgb(216, 242, 252);
}
nav a{
    margin-right: 15px;
    font-size: 20px;
    margin-left: 30px;
}
.btn-login{
    padding: 15px 20px;
    
}

@media screen and (max-width: 576px) {
    .header{
        justify-content: space-between;
        gap: 30px;
    }
    nav a{
        margin-left: 0;
        display: flex;
        padding: 5px;
        background: rgb(187, 227, 243);
        width: 100%;
    }
}